<div class="card" style="width: 20rem;">
  <div class="card-body">
    <div class="card-title"></div>

    <form [formGroup]="formulario" (ngSubmit)="cadastrarUsuario()">
      <div class="form-group">
        <input
        type="email"
        class="form-control"
        placeholder="E-mail"
        formControlName="email"
        required/>
      </div>

      <mat-error class="small text-danger text-center"
      *ngIf="!formulario.get('email').valid && formulario.get('email').touched">
      {{getErrorMessage(formulario.get('email'))}}
      </mat-error>

      <div class="form-group">
        <input
        type="text"
        class="form-control"
        placeholder="Nome completo"
        formControlName="nome_completo"
        required />
      </div>

      <mat-error class="small text-danger text-center"
      *ngIf="!formulario.get('nome_completo').valid && formulario.get('nome_completo').touched">
      {{getErrorMessage(formulario.get('nome_completo'))}}
      </mat-error>

      <div class="form-group">
        <input
        type="text"
        class="form-control"
        placeholder="Nome de usuário"
        formControlName="nome_usuario"
        required />
      </div>

      <mat-error class="small text-danger text-center"
      *ngIf="!formulario.get('nome_usuario').valid && formulario.get('nome_usuario').touched">
      {{getErrorMessage(formulario.get('nome_completo'))}}
      </mat-error>

      <div class="form-group">
        <input
        type="password"
        class="form-control"
        placeholder="Senha"
        formControlName="senha"
        required />
      </div>

      <mat-error class="small text-danger text-center"
      *ngIf="!formulario.get('senha').valid && formulario.get('senha').touched">
      {{getErrorMessage(formulario.get('senha'))}}
      </mat-error>

      <button [disabled]="formulario.invalid ? true: false" type="submit" class="btn btn-primary btn-sm btn-block">
        Cadastre-se
      </button>
    </form>
    <hr />

    <p [@animation-error]="erroPainel"
    *ngIf="resposta" class="small text-danger text-center">{{ resposta  }}</p>

    <p class="small text-center">
      Ao cadastrar-se, você concorda com nossos <b>Termos</b> e
      <b>Política de Privacidade</b>.
    </p>
  </div>
</div>
<br />
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">
      Tem uma conta?
      <a href="#" (click)="exibirPainelLogin()" class="card-link">Faça login</a>
    </p>
  </div>
</div>
