<div class="container">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center">
      <header class="cabecalho">
        <div class="container">
          <div class="row" style="margin-top: 20px;">

            <span class="col-sm-2 d-flex justify-content-start">
              <a href="/">
                <img class="align-self-center" src="../../assets/camera.png" />
              </a>

                <!-- linha vertical do icone do instagram -->
                <hr id="linha-vertical">

              <a href="/">
                <img src="../../assets/logo-instagram-2.png" />
              </a>
            </span>

            <span class="col-sm-8 d-flex justify-content-center">
            </span>


            <span class="col-sm-1 d-flex justify-content-end">
              <a href="/">
                <strong id="entrar">{{ usuario }}</strong>
              </a>
            </span>

          </div>
        </div>

      </header>
      </div>

    <br/><br/>

    <div class="titulo col-sm-12 d-flex justify-content-center">
      <h2>Esta página não está disponível.</h2>
    </div>
    <div class="subtitulo col-sm-12 d-flex justify-content-center">
      O link que você acessou pode estar quebrado ou a página pode ter sido removida.
      Voltar para o Instagram.
    </div>
  </div>
</div>
